footer {
  background-color: #93c33c;
  width: 100%;
  color: #000000;
  font-family: "Ubuntu", sans-serif;
}


p.copyright {
  font-size: .8rem;
  text-align: center;
  color: #000000;
}

.igd-logo-container {
  padding: 3% 8.3% 4%;
  display: flex;
  justify-content: center;
}

.igd-logo {
  width: 14.9375rem;
}

.secao-logos {
  display: flex;
  justify-content: space-around;
}

.apoio-texto, .redesSociais-texto {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.plataforma-logo {
  width: 5.75rem;
}

.inspira-logo {
  width: 9.52375rem;
  margin-left: 2rem;
}


.redesSociais-texto {
  margin-bottom: 1.5rem;
}

.redesSociais a {
  transition: 0.3s;
}

.redesSociais a:hover {
  opacity: 60%;
}

.redesSociais .fa-facebook,
.redesSociais .fa-instagram {
  font-size: 2.5rem;
}

.redesSociais .fa-facebook {
  margin-right: 1.673125rem;
}


.secao-copyright {
  font-size: 0.9rem;
  padding: 2.5% 8.3%;
  text-align: center;
}

@media (max-width: 450px) {
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-content {
    margin-bottom: 1.5rem;
  }

  .apoio {
    margin-bottom: 1.5rem;
  }
}



