.index-main {
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 6%;
}

.index-btn-conheca {
    font-family: "Ubuntu", sans-serif;
}

.index-main p {
  line-height: 1.5rem;
}

.index-main h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

.index-main h4 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: .6rem;
}

.index-headline-content {
  background:  linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../assets/background-index.jpeg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.index-headline-text {
  padding: 0 8.3%;
}

.index-headline-content h1 {
  color: #fcc63e;
  font-size: 1.7rem;
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 4%;
}

.index-headline-content p {
  color: #fff;
  max-width: 50%;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.6);
  line-height: 1.4rem;
  margin-bottom: 4%;
  font-size: 1.1rem;
}

.index-headline-content button {
  background-color:#fff;
  border: none;
  color: #212121;
  padding: 1.4rem 4.5rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  cursor: pointer;
}

.index-headline-content button:hover {
  background-color: #cfcfcf;
  transition: 0.5s;
}

.index-container-oferecemos {
  padding: 10% 8.3% 6%;
  display: flex;
}

.index-container-oferecemos h2 {
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
  color: #4ab8b9;
  font-size: 2.3rem;
  margin-bottom: 4rem;
}

.index-container-oferecemos h3 {
  margin-bottom: 0;
}

.index-container-oferecemos p {
  margin-bottom: .8rem;
}

.index-nossas-frentes {
  justify-content: space-evenly;
  width: 50%;
}

.index-frentes-imgs {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.index-nossas-frentes img {
  max-width: 90px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.index-frentes-imgs .frente {
  border: #e0e0e0 3px solid;
  border-radius: .6rem;
  padding: .5rem;
  width: 33%;
  text-align: center;
  transition: 0.5s;
}

.index-frentes-imgs .frente:hover {
  border: #4ab8b9 3px solid;
  transition: 0.5s;
}

.index-frente-ohanacast, .index-frente-ohanaapp {
  margin-right: 1rem;
}

.index-pesquisa-ohana {
  padding: 8% 0 0 8.3%;
  width: 50%;
}

.index-pesquisa-ohana > p {
  margin: 1rem 0 2rem;
}

.index-pesquisa-ohana a {
  border: #4ab8b9 3px solid;
  border-radius: 5px;
  padding: 1rem 3rem;
  color: #4ab8b9;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

.index-pesquisa-ohana > a:hover {
  background-color: #4ab8b9;
  color: #fff;
  transition: 0.5s;
}

.index-container-impactos {
  padding: 6% 8.3%;
  display: flex;
  align-items: flex-end;
}

.index-container-impactos h2 {
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
  color: #fcc63e;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

.index-impactos-ilustra {
  width: 50%;
}

.index-impactos-ilustra img {
  width: 100%;
}

.index-impactos-text > h2 {
  margin-bottom: 3rem;
}

.index-container-parcerias {
  padding: 6% 8.3%;
  display: flex;
  flex-direction: column;
}

.parceiros-logos-container {
  max-width: 100%;
}

.index-parcerias-text h2 {
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
  color: #4ab8b9;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

.index-parceiros {
  max-width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 1rem;
}

.parcerias-logos-linha1 {
  margin-bottom: 2rem;
}

.parcerias-logos-linha1,
.parcerias-logos-linha2 {
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}

.parcerias-logos-linha1 h3,
.parcerias-logos-linha2 h3 {
    margin-bottom: 1rem;
  }

.parcerias-logos-linha1 img,
.parcerias-logos-linha2 img {
  max-width: 10rem;
  max-height: 10rem;
  margin-bottom: .5rem;
}

.index-doar {
  padding: 6% 8.3%;
}

.index-doar h2 {
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
  color: #4ab8b9;
  font-size: 2.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.index-doar .desc-us {
  justify-content: space-evenly;
}

.index-doar .desc-us-text {
  max-width: 70%;
}

.index-doar .button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.index-doar .button button {
  border: #4ab8b9 3px solid;
  border-radius: 5px;
  padding: 1rem 3rem;
  background-color: #fff;
  color: #4ab8b9;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.index-doar .button button:hover {
  background-color: #4ab8b9;
  color: #fff;
  transition: 0.5s;
}

@media (max-width: 992px) {
  .index-headline-content {
    height: auto;
  }

  .index-headline-text {
    margin-top: 13rem;
  }

  .index-headline-content p {
    font-size: 1rem;
    max-width: 100%;
  }

  .index-headline-content button {
    margin: 2rem 0 6rem;
  }

  .index-container-oferecemos {
    flex-direction: column;
  }

  .index-container-oferecemos h2,
  .index-container-impactos h2,
  .index-container-parcerias h2 {
    margin-bottom: 1.5rem;
  }

  .index-frentes-imgs .frente {
    height: 15rem;
    width: 10rem;
  }

  .index-nossas-frentes {
    width: auto;
  }

  .index-frentes-imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .index-frente-ohanacast,
  .index-frente-ohanaapp {
    margin: 0 .3rem 0 0;
  }

  .index-pesquisa-ohana {
    width: auto;
    margin-top: 1.5rem;
    padding: 0;
  }

  .index-pesquisa-ohana a {
    padding: 0.7rem 1.5rem;
  }

  .index-container-impactos {
    flex-direction: column;
    align-items: center;
  }

  .index-impactos-text {
    width: auto;
    padding: 0;
  }

  .index-impactos-ilustra {
    width: auto;
  }

  .index-impactos-ilustra img {
    max-width: 80vw;
  }

  .parcerias-logos-linha1,
  .parcerias-logos-linha2 {
    margin-top: 1.5rem;
    width: auto;
    flex-direction: row;
  }  
}

@media (max-width: 768px) {

  .index-headline-content {
    height: auto;
  }

  .index-headline-text {
    margin-top: 7rem;
  }

  .index-headline-content h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 3rem;
  }

  .index-headline-content p {
    font-size: 1rem;
    max-width: 100%;
  }

  .index-headline-content button {
    padding: 1.2rem 3rem;
    text-align: center;
    font-size: .9rem;
    margin: 2rem 0 3.5rem;
  }

  .index-container-oferecemos h2,
  .index-container-impactos h2,
  .index-container-parcerias h2 {
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }

  .index-doar .desc-us h2 {
    font-size: 1.7rem;
  }

  .parcerias-logos-linha1,
  .parcerias-logos-linha2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .index-container-oferecemos {
    flex-direction: column;
  }

  .index-frentes-imgs .frente {
    width: 10rem;
  }

  .index-nossas-frentes {
    width: auto;
  }

  .index-frentes-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index-frente-ohanacast,
  .index-frente-ohanaapp {
    margin: 0 0 1.5rem;
  }

  .index-pesquisa-ohana {
    width: auto;
    margin-top: 1.5rem;
    padding: 0;
  }

  .index-pesquisa-ohana a {
    padding: 0.7rem 1.5rem;
  }

  .parcerias-logos-linha1,
  .parcerias-logos-linha2 {
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    flex-direction: column;
    align-items: center;
  }

  .index-parceiros {
    margin: .5rem 0;
    max-width: 12rem;
  }

  .index-doar .desc-us-text {
    max-width: 100%;
  }

  .index-doar .desc-us {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .index-doar .desc-us h2 {
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .index-doar .desc-us p {
    margin-bottom: 1rem;
  }

  .index-doar .desc-us-image {
    margin-bottom: 1rem;
  }

  .index-doar .button button {
    padding: 0.7rem 1.5rem;
  }
}
