body {
  background-color: #f5f5f5;
}

.header {
  background-color: #93c33c;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  padding: 0.8rem 2%;
  filter: drop-shadow(5px 5px 5px #222); 
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  position: relative;
}

.nav-logo {
  padding: 0.2rem 0.7rem 0.2rem;
  display: flex;
  align-items: center;
}

.igd-menu-logo img {
  width: 4rem;
  margin-right: 0.6rem;
  width: 200px;
}

.igd-menu-name img {
  width: 5rem;
}

.nav-menu .nav-menu-item,
.nav-menu-donate {
  display: inline-block;
  padding: 1rem 1.2rem;
}

.nav-menu .nav-menu-item > a {
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0;
  padding: 0.3rem 0;
  border-bottom: transparent 4px solid;
  transition: 0.3s;
}

.nav-menu .nav-menu-item > a:hover {
  border-bottom: #fcc63e 4px solid;
  transition: 0.3s;
}

.nav-menu-item .active {
  border-bottom: #fcc63e 4px solid !important;
}

.nav-menu-donate {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 0.3rem 0.9rem;
} 

.nav-menu-donate a {
  padding: 0.6rem 2.3rem;
  border: #fff 2px solid;
  border-radius: 0.3rem;
  display: block;
  transition: 0.5s;
}

.nav-menu-donate a:hover {
  background-color: #fff;
  color: #93c33c;
  transition: 0.5s;
}

.nav-menu-donate a.active {
  border: #fdd305 2px solid !important;
}

.item-dropdown .fa-chevron-down {
  padding-left: 0.1rem;
  font-size: 0.8rem;
  transition: 0.5s;
}

.item-dropdown:hover .fa-chevron-down {
  transform: rotate(180deg);
  transition: 0.5s;
}

.nav-menu .nav-dropdown {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  position: absolute;
  border-radius: 0.3rem;
  min-width: 200px;
  background-color: #fff;
  color: #93c33c;
  display: none;
  text-align: center;
  box-shadow: 4px 4px 18px -10px rgba(0,0,0,0.49);
}

.nav-dropdown-item,
.nav-dropdown-item-last {
  display: block;
  padding: 1.3rem 0.3rem;
  transition: 0.3s;
}

.nav-dropdown-item {
  border-bottom: #ececec 2px solid;
}

.nav-menu .nav-dropdown .nav-dropdown-item:hover,
.nav-dropdown-item-last:hover {
  transition: 0.3s;
  color: #fcc63e;
}

.nav-dropdown .nav-dropdown-item .active,
.nav-dropdown-item-last .active {
  color: #fcc63e !important;
  border-bottom: none !important;
}

.nav-menu .nav-menu-item:hover .nav-dropdown {
  display: block;
}

.nav-hamburguer {
    padding: 0.6rem;
    font-size: 1.5rem;
    display: none;
}

@media (max-width: 991px) {
  .nav-menu-item .active {
    border-bottom: transparent 4px solid !important;
  }

  .nav-menu-donate a.active {
    border: #fff 2px solid !important;
   }

  .nav-dropdown .nav-dropdown-item .active,
  .nav-dropdown-item-last .active {
    color: #fff !important;
    border-bottom: none !important;
  }  

  .nav {
    display: block;
    float: left;
    width: 100%;
    max-width: 100%;
  }

  .nav-logo {
    padding: 0.5rem 1.5rem;
  }

  

  .menu-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-hamburguer {
    display: block;
    padding-right: 2rem;
  }

  .nav-menu {
    display: none;
    position: static;
  }

  .nav-menu .nav-menu-item {
    padding: 0.3rem 1rem;
    display: block;
  }

  .nav-menu .nav-dropdown {
    box-shadow: none;
  }

  .nav-menu-donate {
    margin-bottom: 0.8rem;
  }

  .nav-menu-donate a {
    padding: 0.4rem 2.3rem;
  }

  .nav-menu .nav-menu-item > a:hover {
    border-bottom: transparent 4px solid;
  }

  .nav-menu .nav-dropdown {
    background-color: #93c33c;
    color: #fff;
    font-weight: 500;
  }

  .nav-dropdown-item {
    border-bottom: none;
  }

  .nav-dropdown-item,
  .nav-dropdown-item-last {
    padding: 0.5rem 0.3rem;
  }

  .nav-menu .nav-dropdown-item:hover {
    background-color: #93c33c;
  }

  .nav-dropdown {
    padding-left: 1.5rem;
  }

  .nav-menu .nav-dropdown {
    display: block;
    position: static;
    text-align: left;
  }
}

.menu-container{

  padding-right: 8rem;
}

.menu-logo{
  padding-left: 4rem;
}
