.castContent{
    display: flex;
    justify-content: center;
    background: white;
    flex-direction: column;
    height: 170vh;
}

#podcastCall{
    top: 1vw;
    height: 20%;
    display: inline-block;
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 250%;
    text-transform: uppercase;
    color: #4ab8b9;    
    margin-top: 2rem;
    padding-left: 8.3%;
}

#spotify{
    top: 5vw;
    position: relative;
    width: 80%; 
    height: 50vw;
    margin: auto;    
}

#podcastDraw{
    position: relative;
    top: 1%;
    height: 40vw;
    width: auto;
    margin: auto;
}

@media (max-width: 992px) {
    #podcastCall{
        height: 2%;
        width: 100%;
        font-weight: 700;
    }

    #spotify{
        position: relative;
        padding: 5vw;
        width: 90vw; 
        height: 70vw;
    }
}

@media (max-width: 576px) {
    .castContent{
        height: 300vw;
    }

    #podcastCall{
        height: 10%;
        width: 100%;
        font-size: 2rem;
        font-weight: 700;
    }

    #spotify{
        position: relative;
        width: 90vw; 
        height: 100vw;
    }

    #podcastDraw{
        position: relative;
        top: 50px;
        height: 20%;        
    }
}
